.ui-accordion {
  .ui-accordion-header{
    a {
      background-color: #EEEEEE;
      color: #212121;
      font-weight: bold;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      padding: 12px 12px;
      @include font-size(16px);
    }
  }

  .ui-accordion-content {
    padding: 12px 12px;
    background-color: #e0dfdf;
    color: #060606;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  p-accordiontab {
    &+ p-accordiontab {
      .ui-corner-all {
        margin-top: 8px;
      }
    }
  }
}
