<div class="d-flex justify-content-center">
  <div class="align-self-center">
    <div class="text-center">
      <h1>
        Welcome to {{title}}!
      </h1>
      <p>
        <img width="192" src="/assets/favicons/android-chrome-192x192.png" alt="">
      </p>
      <h2>
        Getting started
      </h2>
    </div>
    <div class="alert alert-danger" role="alert">
      git clone https://github.com/trungnghia112/angular-cli-seed.git new-project <br>
      cd new-project <br>
      npm install <br>
      npm start
    </div>
  </div>
</div>

<router-outlet></router-outlet>
