<div class="d-flex justify-content-center">
  <div class="align-self-center">
    <h1 class="text-center">
      Welcome to {{title}}! <br>
      <img style="width: 180px" src="/assets/favicons/apple-touch-icon.png" alt="">
    </h1>
    <h2 class="text-center">
      Getting started
    </h2>
    <code class="d-block">
      git clone https://github.com/trungnghia112/angular-cli-seed.git new-project <br>
      cd new-project <br>
      npm install <br>
      npm start
    </code>
  </div>
</div>

<router-outlet></router-outlet>
