/* ==========================================================================
Content
========================================================================== */
.app-loading {
  display: none;
}

.wrapper {
  min-height: 100vh;
}

.main {
  min-height: 100vh;
  @include flexbox;
  @include flex-direction(column);

  .main-content {
    @include flex(1);
  }

  .container-fluid {
    @include media-breakpoint-up(lg) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  .main-content {
    .container-fluid {
      margin-top: -$header-bottom/2;
    }
  }

  @include media-breakpoint-up(lg) {
    margin-left: $main-aside-width;
    .aside-menu-collapse & {
      margin-left: $main-aside-width-collapse;
    }
  }
}
