/* ==========================================================================
Footer
========================================================================== */
.main-footer {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
